/Makefile.am
Makefile.in
Makefile
/autoregen.sh
/compile
/config.guess
/configure
/configure.ac
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/dev-environ
*.tar.gz*
aclocal.m4
/atk
autom4te.cache/
/cairo
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/corba
/defs
/docs
/gconf
/glib
/gnome-vfs
/gtk
/gvalue
/libglade
/libgnome
/libgnomecanvas
/libgnomeui
/libwnck
/log
/pango
*stamp-*
