Makefile.in
Makefile
/compile
/config.guess
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/dev-environ
*.tar.gz*
aclocal.m4
autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/docs
/log
*stamp-*
*-gw-*.[ch]
.deps
.libs
*.log
*.la
*.lo
*.trs
*.html
/build-aux/compile
/build-aux/test-driver
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/texinfo.tex
build-aux/config.rpath
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
/INSTALL
/atk/doc/guile-gnome-atk.info
/atk/doc/version.texi
/config.h.in~
/defs/guile-gnome-defs-2-uninstalled.pc
/defs/guile-gnome-defs-2.pc
/defs/guile-gnome-defs-uninstalled.pc
/defs/guile-gnome-defs.pc
/gconf/doc/guile-gnome-gconf.info
/gconf/doc/version.texi
/glib/doc/glib/guile-gnome-glib.info
/glib/doc/glib/version.texi
/glib/doc/gobject/guile-gnome-gobject.info
/gnome-vfs/doc/guile-gnome-gnome-vfs.info
/gnome-vfs/doc/version.texi
/gtk/doc/gdk/version.texi
/gtk/doc/gtk/version.texi
/libglade/doc/guile-gnome-libglade.info
/libglade/doc/version.texi
/libgnome/doc/guile-gnome-libgnome.info
/libgnome/doc/version.texi
/libgnomecanvas/doc/guile-gnome-libgnomecanvas.info
/libgnomecanvas/doc/version.texi
/libgnomeui/doc/guile-gnome-libgnomeui.info
/libgnomeui/doc/version.texi
/pango/doc/pango/guile-gnome-pango.info
/pango/doc/pango/version.texi
/pango/doc/pangocairo/guile-gnome-pangocairo.info
/pango/doc/pangocairo/version.texi
