Makefile.in
Makefile
/compile
/config.guess
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/dev-environ
*.tar.gz*
aclocal.m4
autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/docs
/log
*stamp-*
*-gw-*.[ch]
.deps
.libs
*.log
*.la
*.lo
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/texinfo.tex
