guile-gnome-cairo.pc
guile-gnome-cairo-uninstalled.pc
Makefile
Makefile.in
guile-gnome-gw-cairo.c
guile-gnome-gw-cairo.h
libgw-guile-gnome-cairo.la
libgw_guile_gnome_cairo_la-guile-gnome-gw-cairo.lo
cairo.scm
gnome-glib.log
gnome/gw/.deps
gnome/gw/.libs
